
<%- include("partials/header.ejs") %>

    <div>
      <section class=" hero " >
        <div id="hero-section " class="container">
          <div class="row">
            <div class="custom-column col-md-6 col-lg-6">
              <div class="hero_hero">
                <h5 class="subtitle_section" data-content="HELLO"></h5>
                <h2 class="name">I'm Yash Patel</h2>
                <h5 class="belowname">Aspiring Software engineer</h5>
                <p id="about-me">Hi there! My name is Yash Patel and I’m a aspiring software engineer with willing to get
                  experience in the industry. I love all things related tech and coding, I share my knowledge and experience with
                  others..</p>
                
              </div>
              <a href="#contact">
                <div class="button button-1">Connect</div>
              </a>
              
            </div>
            <div class="image-column" >
              <img
                  alt="SecureDash"
                  loading="lazy"
                  decoding="async"
                  style="width:  650px; height: 550px; object-fit: cover; border-radius: 50%;"
                  src="images/me_2.jpeg"
                />
            </div>
          </div>
      </section>
  
    </div>
  <%- include("projects.ejs") %>
  <%- include("experience.ejs") %>
  <%- include("education.ejs") %>
  <%- include("achievement.ejs") %>
  <%- include("connect.ejs") %>
  <%- include("partials/footer.ejs") %>