<%- include("partials/header.ejs") %>


    <div>
      <section class=" hero " >
        <div id="hero-section " class="container">
          <div class="row">
            <div class="custom-column col-md-6 col-lg-6">
              <div class="hero_hero">
                <h5 class="subtitle_section" data-content="HELLO"></h5>
                <h2 class="mt-mb">I'm Yash Patel</h2>
                <h5 class="mb-4">Aspiring Software engineer</h5>
                <p id="about-me">Hi there! My name is Yash Patel and I’m a aspiring software engineer with willing to get
                  experience in the industry. I love all things tech and coding, I share my knowledge and experience with
                  others..</p>
                
              </div>
              <a href="#contact">
                <div class="button button-1">Connect</div>
              </a>
              
            </div>
            <div class="image-column" >
              <img alt="Yash Patel" 
                  src="https://i.ibb.co/sCY45Z9/me.jpg&amp;w=1080&amp;q=75">
            </div>
          </div>
      </section>
  
    </div>
  <%- include("Projects.ejs") %>
  <%- include("education.ejs") %>
  <%- include("connect.ejs") %>

  <%- include("partials/footer.ejs") %>